.addRecipeContainer {
  margin: 20px;
}

.pageTitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary);
  text-shadow: 1px 1px 1px black;
}

.ingredientsTitle {
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.recipeForm {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px !important;
  background-color: var(--secondary);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formGroup {
  margin-bottom: 20px;
}

.formLabel {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: black;
}

.formInput,
.formTextarea,
.formSelect,
.ingredientInput,
.ingredientSelect {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
.formInput,.formTextarea{
  width: 98%;
}
.formTextarea {
  resize: vertical;
  height: 100px;
}

.ingredientInput {
  width: 30%;
}

.ingredientSelect {
  width: 48%;
  display: inline-block;
  margin-right: 4%;
}

.ingredientRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.removeIngredientBtn {
  width: 10%;
  background-color:var(--remove);
  color: white;
  margin-bottom: 30px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.removeIngredientBtn:hover {
  background-color: var(--removeHover);
}
.ingredientHead{
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 70px;
}
.ingredientHead span{
  display: flex;
  justify-content: end;
}
.addIngredientBtn {
  width: 100%;
  height: 40px;
  background-color: var(--Add) !important;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.recipeFileUpload{
  display: flex;
  gap: 20px;
}
.RecipeImageContainer{
  margin: 0 auto;
  width: 60%;
  height: 285px;
}
.RecipeImageContainer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imagePreview{
  width: 100%;
}
.deleteImageBtn{
  width: 20%;
  position: relative;
  bottom: 15px;
}
@media screen and (min-width: 768px){
  .RecipeHead{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
  }
  .submitBtn {
    width: 30% !important;
    margin: 0 35% !important;
    
  }

}

.addIngredientBtn:hover {
  background-color: var(--AddHover) !important;
}
.CookingStepHead{
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 70px;
}
.CookingStepHead span{
  display: flex;
  justify-content: end;
}
.stepInput{
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
.addStepBtn{
  width: 100%;
  height: 40px;
  background-color: var(--Add) !important;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.removeStepBtn{
  width: 80%;
  background-color: var(--remove);
  color: white;
  margin-bottom: 30px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left:20px;
}
.stepRow{
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  gap: 20px;
}
.submitBtn {
  width: 50%;
  margin: 0 25%;
  padding: 12px;
  background-color: var(--secondary3);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #218838;
}
